@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Serif+4:wght@200&display=swap');

/* Variables */
:root {
  --font-family: 'Playfair Display', serif;;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #ffffff;
  --primary-color: #004a86;/*nav bar*/
  --secondary-color: #2e3092;/*hover color check it out*/
  --primary-shadow: #7c80ac;/*shadow around the card boxes*/
  --secondary-shadow: #a1s7a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#004a86;/*all script*/
  font-size: large;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-color: #ffffff;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: #fdf9f9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
  font-size:xx-large;/*my name in the nav bar*/
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: #b9006c9c;
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
  
}

nav ul li {
  font-weight: var(--bold-font);
  
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 50rem;
  width: 45rem;
}


.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  text-align: center;
  
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
 font-size: xx-large;
 font-weight: bolder;
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  text-align: center;
  font-size:large;
  font-weight: bold;
  color: #00559b;
}

.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
  color: var(--primary-color);
}

.more-about h1 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  font-size: xx-large ;
  text-decoration: underline;

  
}

.more-about p {/*About me paragraph section*/
  line-height: var(--line-height);
  padding: 0.4rem;
  font-size:large;
  font-weight: bold;
}

.skills {
  max-width: 45rem;/*the width of the line with all the icons*/
  margin:auto; /*centers the line of icons to middle of page*/
  text-align:center; /*centers the caption below the image*/
  margin-top: 2rem; /*the space between more about me and top skills*/
  
}

.skill-header {
  margin-bottom: 2rem;/*the space between top skills and the icons*/
  text-align: center;/*centers the skills title section*/
  text-decoration: underline;
}

.skills h2 {/*My skills title*/
  font-weight: bolder;
  font-size: xx-large;
}

.skills-wrapper figcaption{/*My skills caption*/
  font-size: x-large;
  font-weight: bolder;
}

.skills-wrapper img {
  padding: 1.9rem;/*the icon card*/
  width: 9rem;/*the size of the icon card*/
  margin: 5px;/*space between the card caption and card*/
  
}

.icon {/*the actual picture*/
  width: 10rem;
  height: 10rem;
  
  
}

.icon-card {
  background-color: rgb(255, 255, 255);/*color for the icon card background*/
  border-radius: 15px;/*determines if it's square or circle edges*/
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;/*not sure*/
  margin: 10px;/*space inbetween card, caption, and card*/
 

}

.icon-pic {
  width: 60%;
  height: 60%;
  
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.icon-title {
  text-align: center;
  margin-bottom: 1rem;
}

.icon-container {
  text-align: center;
  width: 50rem;
  padding: 1rem;
  
}

.icon-container p {
  padding: 0.4rem;
  font-size: xx-large;
}

.icon-title {
  margin-bottom: var(--bottom-margin);
}

.icon-details {
  margin-bottom: var(--bottom-margin);
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33%;
  padding: 10px; /*space between the icon caption and the next card on 
  the row below*/
}

.column img{
  width: 7rem;/*the size of the card and image on the home page for skills*/
  height: 6rem;
    
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.work {
  background-color: var(--bg-color);
  padding: 30px 0;/*padding for the main projects 
  including title and cards from the extras section*/
  margin-top: 1rem;/*padding between main projects
  sections and navbar section*/
}

.work-pic {
  width: 100%;
  height: 90%;
  border-radius: 10px; /* determines whether the edges are sqaure or rounded*/
}

.work-title {
  text-align: center;
  margin-bottom: 4rem; /*padding between the 
  main projects title and the cards*/
}

.work-container {
  align-items:flex-end; /*changed something with the photo and title*/
  justify-content:flex-start; 
  text-align: center;/*description box on card*/
  width: 15rem; /*width of the work card*/
  height: 35rem;/*height of the work card*/
  padding: 1rem;
}
.work-container p {
  padding: 0.4rem; /*padding between the photo and the description section*/
  
}

.work-title {/*project titles*/
  margin-bottom: var(--bottom-margin);
  font-weight: bolder;
  font-size: x-large;
  text-decoration: underline;
}
.work h2{/*Main Projects and Extras Subheading*/
  font-size: xx-large;
  text-decoration: underline;
}

.work-details {
  margin-bottom: var(--bottom-margin);
  font-weight: bold;
}

.work-card {
  display: grid;

  background-color: #fff; /*the color of the card*/
  border-radius: 30px; /* determines whether the edges are sqaure or rounded*/
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px; /*padding between the photo and the card*/
  margin: 20px; /*padding between the cards*/
}

.projects {
  background-color: var(--bg-color);
  padding: 20px 0;/*padding for the entire recent 
  projects including title and cards from the skills section*/
  margin-top: 2rem;/*padding between skills 
  sections and title recent projects section*/
  font-size:x-large;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-container {
  font-size: xx-small;
}

.projects-title {/*Most recent projects title section*/
  text-align: center;
  margin-bottom: 1rem; /*padding between the 
  some recent projects title and the cards*/
  font-size: xx-large;
  text-decoration: underline;
}

.project-container {
  text-align: center;/*description box on card*/
  width: 20rem; /*width of the project card*/
  padding: 1rem;
  font-size:large;
}

.project-container p {
  padding: 0.4rem; /*padding between the photo and the description section*/
  font-size: large;
}

.project-title {/*title for the most recent project cards on index*/
  margin-bottom: var(--bottom-margin);
  font-weight: bolder;
  font-size: x-large;
  text-decoration: underline;
}


.project-details {/*Caption for the most recent projects on index*/
  margin-bottom: var(--bottom-margin);
  font-weight: bold;
}

.project-card {
  background-color: #fff; /*the color of the card*/
  border-radius: 30px; /* determines whether the edges are sqaure or rounded*/
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px; /*padding between the photo and the card*/
  margin: 30px; /*padding between the cards*/
}

.project-link{/*Check it out button*/
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.project-link:hover{
  background-color: #bebebe;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}


.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}


.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}
.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: #4d3b5556;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  font-weight: 700;
  margin: 2rem 0 0;
}


.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}


@media screen and (max-width: 980px) {
  /*changes reflects on screen with a width of 720px and below*/
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

   nav ul li {
    margin: 8px;
  }
  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    margin-top: 7rem;
        height: 15rem;
        width: 15rem;
    }

  .bio {
    margin-top: 2rem;
    width: 30.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {/*the actual picture*/
    width: 9rem;
    height: 9rem;
    
    
  }

  .column img{
    width: 9rem;
    height:5rem;
     
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }

  .icon {
    width: 7.5rem;
    height: 7.5rem;
    
  }
  
  .icon-card {
    background-color: rgb(255, 255, 255);/*color for the icon card background*/
    border-radius: 15px;/*determines if it's square or circle edges*/
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;/*not sure*/
    margin: 10px;/*space inbetween card, caption, and card*/
   
  
  }
  
  .icon-pic {
    width: 60%;
    height: 60%;
    
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .icon-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .icon-container {
    text-align: center;
    width: 50rem;
    padding: 1rem;
    
  }
  
  .icon-container p {
    padding: 0.4rem;
  
  }
  
  .icon-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .icon-details {
    margin-bottom: var(--bottom-margin);
  }
  
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 33%;
    padding: 10px; /*space between the icon caption and the next card on 
    the row below*/
  }

  
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .skills-wrapper img {
    padding: 1.9rem;/*the icon card*/
    width: 5rem;/*the size of the icon card*/
    margin: 5px;/*space between the card caption and card*/
    
  }

}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
} 
.home{ 
  background: linear-gradient(rgba(255, 255, 255, 0.801), 
  rgba(240, 135, 161, 0.63));
  padding: 4.5rem 0;
  text-align: center;
}
.home-content{ /* spacing between Project titles and gifs*/
  margin: .5rem 0;
}
.home-item{
  cursor: pointer;
  margin: 1.5rem 0;
}
.home-img{
  position: relative;
  /*overflow: hidden;*/
}

.home-img::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}
.home-img img{
  transition: all 0.5 ease;
}

.home-item:hover img{
  transform: scale(1.2);

}
.home-img span:last-of-type{
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-weight:700;
  font-size: 1.1rem;

}
.home-img img{
  transition: all 0.5 ease;
}

.home-item:hover img{
  transform: scale(1.2);

} 


.home-img span:last-of-type{ /*pic caption*/
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  color: rgb(255, 217, 217);
  
  font-size: 1.3rem;

}
.home-img-1 span:last-of-type{ /*pic caption*/
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  color: rgb(255, 217, 217);
  
  font-size: 1.3rem;

}

.home-title h2{ /* this is the caption under pic*/
  font-family: var(--Roboto);
  padding: 1rem 0;
  color: rgb(0, 0, 0);
  font-size: 1.65;
  font-weight: 500;
  font-weight: bold;
}
.home-title input:hover{/* read more button for index.html*/
  background: var(--exDark);
}
.home-title input{/* read more button for index.html*/
  font-family: var(--Roboto);
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--dark);
  display: inline-block;
  background-color:#173446;
  color: #fff;
  font-weight: bold;
  padding: 0.55rem 1.2rem;
  transition: all 0.5s ease;
}
/* end of home html*/

  
